body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightyellow;
  color: rgb(116, 43, 43);
}

#form {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    border: none;
    padding: 2rem 3rem;
    border-radius: 0.5cm;
    font-size: large;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: lightyellow;
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 0.5rem solid rgba(78, 59, 59, 0.459);
    gap: 0.5rem;
    padding: 2px;
    background-color: blanchedalmond;
}
  
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5rem;
    border: none;
    background-color: rgba(78, 59, 59, 0.459);
    cursor: pointer;
    color: white;
}

input {
    margin-bottom: 1rem;
}

.submit {
  padding: 1rem 2rem;
  border: none;
  background-color: rgba(78, 59, 59, 0.459);

}

.opacity-change {
    opacity: 0.1;
}

.results {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    border: 0.1cm solid black;
    padding: 50px 30px;
    border-radius: 0.5cm;
    font-size: large;
    background-color: white;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}

